body {
    font-family: sans-serif;
    background: linear-gradient(to right, #f0fefe, #c8f8ff);
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .container {
    margin-top: 100px;
  }
  input[type="text"], input[type="number"] {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 300px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  #results div {
    margin-top: 5px;
    cursor: pointer;
  }